body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    
}
.login-page{
   width: 40%;
   background-color: aliceblue;
   text-align: center;
   padding: 10px;
   border-radius: 7px;
}
.login-page h2{
    font-size: 25px;
}
input{
    padding: 10px;
    border: none;
    width: 80%;
}
.login-page p{
    text-align: left;
    padding-left: 10%;
}
.login-page p a{
    text-decoration: none;
}
.login-page p a:hover{
    text-decoration: underline;
}
button{
    padding: 8px 25px;
    background-color: aqua;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/* .valid{
    border-radius: 7px;
} */